version: '3.8'
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '8080:8080'
    environment:
      VITE_API_URL: ${VITE_API_URL}
      VITE_CLERK_PUBLISHABLE_KEY: ${VITE_CLERK_PUBLISHABLE_KEY}
      VITE_APP_ENV: ${VITE_APP_ENV}
      VITE_APP_TITLE: ${VITE_APP_TITLE}
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro # Optional, for custom Nginx config
    restart: always
